<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">YB Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">Hakkımızda</a>
          </li>
         <li class="nav-item active">
            <a class="nav-link" href="/articles">Makaleler</a>
          </li>

          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">

            {% if session["logged_in"] %}
              <li class="nav-item active">
                 <a class="nav-link" href="/dashboard">Kontrol Paneli</a>
              </li>
              <li class="nav-item active nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profil</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" id=pass href="/profile/changepass">Şifre Değiştirme</a>
                  <a class="dropdown-item" id=info href="/profile/changeinfo">Bilgiler</a>
                </div>
              <li class="nav-item active">
                 <a class="nav-link" href="/logout">Çıkış Yap</a>
              </li>
            {% else %}
              <li class="nav-item active">
                 <a class="nav-link" href="/Login">Giriş Yap</a>
              </li>

            {% endif %}   

          <li class="nav-item active">
            <a class="nav-link" href="/register">Kayıt Olun</a>
          </li>
      </div>
    </nav> 