{% extends "layout.html" %}

{% block body %}
<form method="post" style="padding:20px">
<h3>Hakkımda<h3>
<hr>
<form method="post" style="padding:20px">
Merhaba ben Seda Koraltürk.2 Mart 1992 tarihinde İstanbul'da doğdum.Eskişehir Anadolu Üniversitesi'nde Radyo ve Televizyon Programcılığı okumaktayım.Beş buçuk yıl diş hekimi asistanlığı yaptım.Şimdilerde Python Programlama Dili'ni öğrenmeye çalışıyorum.Bir yandan tiyatro oyunculuğu ile uğraşıyorum.Ve keman ve piyano da öğrenmeye çalışıyorum.
<hr>
{% endblock body %}